*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body{
  flex: wrap;
  align-items: center;
  justify-content: center;
}

.menu-items__items>img {
border-radius: 1em;
max-height: 400px;
}

.menu-items__items > img:hover {
  border-radius: 50px;
  transition-delay: 150ms;
}